@import './variable';

@font-face {
  font-family: KumbhSans-Light;
  src: url('../../fonts/KumbhSans-Light.ttf');
  //   src: url(../fonts/KumbhSans-Light.ttf);
}
@font-face {
  font-family: KumbhSans-Regular;
  src: url('../../fonts/KumbhSans-Regular.ttf');

  //   src: url(../fonts/KumbhSans-Regular.ttf);
}
@font-face {
  font-family: KumbhSans-Bold;
  src: url('../../fonts/KumbhSans-Bold.ttf');

  //   src: url(../fonts/KumbhSans-Bold.ttf);
}
@font-face {
  font-family: Chelsea-Regular;
  src: url('../../fonts/Chelsea-Regular.ttf');

  //   src: url(../fonts/Chelsea-Regular.ttf);
}

body {
  font-family: KumbhSans-Regular;
  color: #222222;
}

a {
  text-decoration: none;
}

// Font Classes
.f_12 {
  font-size: 12px !important;
}
.f_14 {
  font-size: 14px !important;
}
.f_15 {
  font-size: 15px !important;
}
.f_16 {
  font-size: 16px !important;
}
.f_18 {
  font-size: 18px !important;
}
.f_20 {
  font-size: 20px !important;
}
.f_22 {
  font-size: 22px !important;
}
.f_24 {
  font-size: 24px !important;
}
.f_26 {
  font-size: 26px !important;
}
.f_28 {
  font-size: 28px !important;
}
.f_30 {
  font-size: 30px !important;
}
.f_32 {
  font-size: 32px !important;
}
.f_54 {
  font-size: 54px !important;
}

.fw_light {
  font-family: KumbhSans-Light !important;
}
.fw_regular {
  font-family: KumbhSans-Regular !important;
}
.fw_bold {
  font-family: KumbhSans-Bold !important;
}
.fw_che_regular {
  font-family: Chelsea-Regular !important;
}

:focus {
  outline: none !important;
  box-shadow: none !important;
}

.section_padding {
  padding: 80px 0;
}

.theme_btn,
.theme_btn:hover {
  background: $sunset-orange;
  color: white;
  border-color: $sunset-orange;
  padding: 10px 20px;
  border-radius: 0px;
  box-shadow: 0px 4px 15px #98070026;
  font-size: 18px;
}

.bg_light_blue {
  background-color: $light-blue;
}

.text_blue2,
.text_blue2:hover {
  color: #0a9ef8 !important;
}

.text_blue3,
.text_blue3:hover {
  color: #2c6384 !important;
}

.text_gray,
.text_gray {
  color: #707070 !important;
}

.text_gray2,
.text_gray2 {
  color: #656565 !important;
}

.text_green {
  color: #67dd9c;
}

.text_black,
.text_black:hover {
  color: #707070 !important;
}

.text_blue,
.text_blue:hover {
  color: #005182 !important;
}

.text_dark,
.text_dark:hover {
  color: #303030 !important;
}

.text_skyblue,
.text_skyblue:hover {
  color: #009ef8;
}

.text_lightblue,
.text_lightblue:hover {
  color: #6e9ebc;
}

.background_gray {
  background: #f8fcff;
}
.pt_6 {
  padding-top: 66px;
}

.pt_9 {
  padding-top: 90px;
}

.nav_active {
  background: #fff;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  transition: ease-in-out 0.4s;
  padding: 8px 0px !important;
}

// custom nav
.custom_nav .nav-link {
  color: #005182 !important;
  font-family: KumbhSans-Regular !important;
  opacity: 1 !important;

  &.active {
    color: $sunset-orange !important;
    font-family: 'KumbhSans-Bold' !important;
  }
}

.login_btn,
.login_btn:hover {
  background: white;
  color: #0a9ef8;
  border-color: #0a9ef8;
  width: 120px;
  border-radius: 3px;
}

.login_btn,
.login_btn:hover {
  background: white;
  color: #0a9ef8;
  border-color: #0a9ef8;
  width: 120px;
  border-radius: 3px;
}
.signup_btn .btn,
.signup_btn .btn:hover {
  background: #67dd9c;
  border-color: #67dd9c;
  color: white;
  width: 120px;
  border-radius: 3px;
  box-shadow: 0px 6px 9px #16a45617;
  height: 100%;
}
.signup_btn .dropdown-item,
.dropdown-item:hover {
  font-size: 16px;
  color: #777777;
  border-bottom: 1px solid #f6f6f6;
  padding: 8px 15px 6px 15px;
  background: white;
}
.border_bottom_none {
  border-bottom: none !important;
}
.signup_btn .dropdown-menu.show {
  display: block;
  border: none;
  box-shadow: 0px 4px 6px #00000014;
  border-radius: 5px;
  padding: 1px;
}

// Form Check
.form-check-input:checked + .form-check-label .checkbox_tick svg {
  display: flex !important;
  width: 12px;
  height: 12px;
  transition: all 0.5s;
}
.form-check-input:checked + .form-check-label .checkbox_tick {
  background: #0a9ef8 !important;
  transition: all 0.4s;
}
.form-check {
  label {
    cursor: pointer;
    margin-bottom: 32px;
    transition: all 0.4s;
  }
}
.form-check-input:checked + .form-check-label {
  font-family: KumbhSans-Bold;
  transition: all 0.4s;
}

// common social button
.social_btns span {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 12px;
  border: 2px solid white;
}
.google_btn {
  background: #ea4335;
}
.fb_btn {
  background: #496fed;
}
.apple_btn {
  background: #000000;
}
.insta_btn {
  background: rgb(186, 0, 176);
  background: linear-gradient(143deg, rgba(186, 0, 176, 1) 0%, rgba(254, 197, 31, 1) 100%);
}
.linkedin_btn {
  background: #067fbf;
}
.twitter_btn {
  background: #009ff4;
}
.social_btns span svg {
  width: 15px;
  height: 15px;
}

// custom lang
.custom_lang_select {
  border: none;
  color: #656565;
  width: 110px;
}

.course_shapes img {
  width: auto !important;
}

.course_img {
  position: absolute;
  top: 5px;
  right: 20px;
}

.course_info p {
  line-height: 20px;
}

.whts_app_btn,
.whts_app_btn:hover {
  position: fixed;
  z-index: 999;
  bottom: 80px;
  right: 30px;
  background: white;
  border-radius: 50px;
  padding: 10px 15px;
  border-color: white;
  box-shadow: 0px 0px 6px #009ff440;
  color: #001726;
  animation: pulse-red 1.5s infinite;
}

// welcome header
.welcome_header_bg {
  background: #f9fdff;
  height: 220px;
}

// login_card
// .login_card {
//   background: white;
//   box-shadow: 1px 4px 6px #00000024;
//   border-radius: 40px;
//   padding: 20px;
//   margin-top: -12%;
// }

// .login_img img {
//   border-radius: 30px;
//   box-shadow: 12px 0px #67dd9c;
// }

// eye icon
span {
  &.eye_icon {
    position: absolute;
    top: 13px;
    right: 13px;
  }
}

.or_lines {
  ::before {
    width: 45%;
    height: 1px;
    content: '';
    position: absolute;
    top: 9px;
    background: #d9d9d9;
    right: 0;
  }

  ::after {
    width: 45%;
    height: 1px;
    content: '';
    position: absolute;
    top: 9px;
    background: #d9d9d9;
    left: 0;
  }
}

// signuo button
.signup_blue_btn,
.signup_blue_btn:hover {
  background: #0a9ef8;
  border-color: #0a9ef8;
  padding: 14px;
  border-radius: 60px;
}

.signup_white_btn,
.signup_white_btn:hover {
  background: white;
  border-color: white;
  box-shadow: 0px 1px 6px #00000012;
  padding: 14px;
  border-radius: 60px;
}

.signup_social_icons {
  svg {
    width: 18px;
    height: 18px;
    position: relative;
    top: -3px;
  }
  .login_google_btn,
  .login_google_btn:hover {
    background: #ea4335;
    border: #ea4335;
    padding: 8px 18px;
    border-radius: 50px;
  }

  .login_fb_btn,
  .login_fb_btn:hover {
    background: #4460a0;
    border: #4460a0;
    padding: 8px 16px;
    border-radius: 50px;
  }
  .login_apple_btn,
  .login_apple_btn:hover {
    background: #000;
    border: #000;
    padding: 8px 16px;
    border-radius: 50px;
  }
  .login_linkedin_btn,
  .login_linkedin_btn:hover {
    background: #0077b5;
    border: #0077b5;
    padding: 8px 16px;
    border-radius: 50px;
  }
}

// login welcome
.login_welcome {
  background: url('../../images/login_welcome.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.logout_color {
  color: #ff554b !important;
}

// Slick
.slick-slider {
  .slick-dots li {
    margin: 0px 10px 0px 5px;
    button {
      width: 18px !important;
      height: 10px !important;
      background-color: #ffd2d0 !important;
      // margin: 5px 7px;
      background: #d6d6d6;
      display: block;
      transition: opacity 0.2s ease;
      border-radius: 30px;

      &::before {
        display: none;
      }
    }
    &.slick-active {
      button {
        background-color: #f66962 !important;
        width: 30px !important;
        height: 10px !important;
        margin-left: -5px;
        background: #d6d6d6;
        display: block;
        transition: opacity 0.2s ease;
        border-radius: 30px;
      }
    }
  }
}
