.profile_info label {
  color: #005182;
  font-size: 16px;
  font-family: 'KumbhSans-Bold';
  margin-bottom: 10px;
}
.profile_info select,
input,
select {
  border: 1px solid #d9d9d9 !important;
  border-radius: 8px !important;
  padding: 8px 15px !important;
  color: #005182 !important;
}
.profile_info .w_70 {
  width: 70%;
}
