.terms_policies_box {
  background: #eef9ff;
  text-align: center;
  padding: 60px;

  h5 {
    color: #009ff4;
    font-size: 30px;
    font-family: 'KumbhSans-Bold';
  }
}

.faq_text {
  h5 {
    color: #009ff4;
    font-family: 'KumbhSans-Bold';
  }
  p {
    color: #2c6384;
  }
}
